body
{
    font-family: SegoeWP-SemiLight;
    font-size: 120%;
}

p
{
    font-family: SegoeWP-Light;
    text-align: justify;
    text-indent: 50px;
    font-size: 130%;
}

h1
{
    font-family: 'SegoeWP-Black';
}

h2, h3
{
    font-family: 'SegoeWP-Bold';
}

h3, h4, h5, h6
{
    opacity: 0.75;
}

hr
{
    color: #007ACC;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 122, 204, 0), rgba(0, 122, 204, 1), rgba(0, 122, 204, 0));
}

.prettyprint:hover
{
    background-color:#242424;
}