.pln
{
    color:#FFF

}

@media screen
{
    .str
    {
        color:#C47C62

    }
    
    .kwd
    {
        color:#4185D8

    }
    
    .com
    {
        color:#43A63A 

    }
    
    .typ
    {
        color:#31A59E 

    }
    
    .lit
    {
        color:#066

    }
    
    .pun,.opn,.clo
    {
        color:#CCCCCC

    }
    
    .tag
    {
        color:#008

    }
    
    .atn
    {
        color:#7F0055

    }
    
    .atv
    {
        color:#080

    }

    .dec,.var
    {
        color:#7F0055

    }
    
    .fun
    {
        color:red

    }
}

@media print,projection
{
    .str
    {
        color:#060

    }
    
    .kwd
    {
        color:#006;
        font-weight:bold

    }
    
    .com
    {
        color:#600;
        font-style:italic

    }
    
    .typ
    {
        color:#404;
        font-weight:bold

    }
    
    .lit
    {
        color:#044

    }
    
    .pun,.opn,.clo
    {
        color:#440

    }
    
    .tag
    {
        color:#006;
        font-weight:bold

    }
    
    .atn
    {
        color:#404

    }
    
    .atv
    {
        color:#060

    }

}

pre.prettyprint
{
    padding:10px;
    border:1px solid #007ACC;
    background-color: rgba(21,21,21,1);
    border-radius:0px;
    margin-bottom:30px;
}

pre.prettyprint:hover
{
    border:1px solid #118BDD;
    background-color: rgba(30,30,30,1);
}

ol.linenums
{
    margin-top:0;
    margin-bottom:0;
}