body
{
	background: #171717 url(../assets/images/body-bg.png) 0 0 repeat;
    -webkit-font-smoothing: antialiased;
	padding-top: 1%;
	margin: 0;
	font-family: SegoeWP;
	color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

header
{
	padding-left: 4%;
	padding-right: 4%;
}

header h1
{
    color: white;
    font-family: SegoeWP-Light;
	font-weight: 100;
    font-size: 500%;
	margin-top: 0px;
}

header h2
{
    font-family: SegoeWP;
    color: #909090;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
	font-size: 90%;
    margin-left:3px;
}

.content-main
{
	margin-top: 50px;
	padding-left: 4%;
	padding-right: 4%;
	min-height: 600px;
}

.menu
{
	font-family: SegoeWP-Light;
	font-size: 170%;
}

.menu a
{
	margin-right: 10px;
}

.menu a:link, a:visited, a:active
{
	list-style-type: none;
	color: #505050;
}

.menu a:hover 
{
    color: #F95900;
	text-decoration: none;
	cursor: pointer; 
	cursor: hand;
}
	
.menu .selected
{
	color: white;
}

footer
{
	min-height: 130px;
	background: rgba(255, 255, 255, 0.07);
	padding: 2%;
	font-size: 80%;
    color: #707070;
}
