body
{
	background: #171717 url(../assets/images/body-bg.png) 0 0 repeat;
    -webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	font-family: SegoeWP;
	color: white;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	overflow-y: scroll;
	overflow-x: hidden;
}

header h1
{
    color: #FFFFFF;
    font-family: SegoeWP-Light;
    font-size: 500%;
	margin-top: 0px;
}

header h2
{
    font-family: SegoeWP;
    color: #909090;
	font-size: 90%;
    margin-left:3px;
}

#container
{
	padding-top: 1%;
	padding-right: 5%;
	min-height: 595px;
	background: transparent url(../assets/images/highlight-bg.png) 50% 0 no-repeat;
}

.menu
{
	font-family: SegoeWP-Light;
	font-size: 150%;
	color: #909090;
}

.menu li {list-style-type: none;}

.menu .selected
{
	color: white;
}

.menu a:link
{
    color: white;
	text-decoration: none;
}

.menu a:visited
{
    color: white;
	text-decoration: none;
}

.menu a:hover
{
    color: white;
	text-decoration: none;
	cursor: pointer; 
	cursor: hand;
}

.menu a:active
{
    color: white;
	text-decoration: none;
}
	