/* Font dosyalarýnýn eklenmesi */
@font-face
{
    font-family: SegoeWP;
    src: url(../assets/fonts/segoewp/segoe-wp.ttf);
}

@font-face
{
    font-family: SegoeWP-Bold;
    src: url(../assets/fonts/segoewp/segoe-wp-bold.ttf);
}

@font-face
{
    font-family: SegoeWP-Black;
    src: url(../assets/fonts/segoewp/segoe-wp-black.ttf);
}

@font-face
{
    font-family: SegoeWP-Light;
    src: url(../assets/fonts/segoewp/segoe-wp-light.ttf);
}

@font-face
{
    font-family: SegoeWP-Semibold;
    src: url(../assets/fonts/segoewp/segoe-wp-semibold.ttf);
}

@font-face
{
    font-family: SegoeWP-Semilight;
    src: url(../assets/fonts/segoewp/segoe-wp-semilight.ttf);
}


@font-face
{
    font-family: Consolas;
    src: url(../assets/fonts/Consolas/Consolas.ttf);
}

body
{
	background: #F3F3F3;
    -webkit-font-smoothing: antialiased;
	padding-top: 1%;
	margin: 0;
	font-family: SegoeWP-SemiLight;
	color: black;
	overflow-y: scroll;
	overflow-x: hidden;
}

#header-base
{
    display: inline-block;
    position: relative;
    -webkit-perspective: 600px; /* Chrome, Safari, Opera  */
    perspective: 600px;
}

#header-perspective
{
    transition: .5s; 
    transform-origin: left;
    -webkit-transform: rotateY(15deg); /* Chrome, Safari, Opera  */
    transform: rotateY(15deg);
}

#header-perspective:hover
{
    -webkit-transform: rotateY(0); /* Chrome, Safari, Opera  */
    transform: rotateY(0);
}

header h1
{
    color: black;
    font-family: SegoeWP-Light;
	font-weight: 100;
    font-size: 500%;
	margin-top: 20px;
}

header h2
{
    font-family: SegoeWP;
    color: #909090;
	font-size: 90%;
    margin-left:3px;
}

.content-main
{
	margin-top: 50px;
	min-height: 400px;
    margin-bottom: 100px;
    border: thin;
}

.menu a, a:link, a:visited
{
    color: black;
    
	font-size: 170%;
	margin-right: 10px;
	list-style-type: none;
    text-decoration: none;
}

.menu a:hover 
{
    color: #F95900;
	cursor: pointer; 
}

.menu a:active 
{
    color: #F73500;
}
	
.menu .selected
{
	font-weight: normal;
}

.menu .unselected
{
    opacity: 0.25;
    font-weight: lighter;
}

p
{
    font-family: SegoeWP;
    text-align: justify;
    text-indent: 50px;
}

h1
{
    font-family: 'SegoeWP-Black';
}

h2, h3
{
    font-family: 'SegoeWP-Bold';
}

h3, h4, h5, h6
{
    opacity: 0.75;
}

hr
{
    color: #007ACC;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 122, 204, 0), rgba(0, 122, 204, 1), rgba(0, 122, 204, 0));
}

footer
{
	min-height: 120px;
	background: rgba(40,40,40,0.5);
	padding: 2%;
    color: black;
    font-size: 85%;
}